h1 {
  margin-bottom: 30px;
}
input[type="text"] {
  width: 200px;
  float: left;
}
.narrow-button {
  float: left;
  margin-left: 10px;
}


footer {
  margin-top: 25%;
  border-top: solid 1px gray;
  font-size: 0.8em;
  text-align: center;
  color: yellow;
  background-color: #2965A8;
}
.btn.btn-primary.pull-left{
  margin-top:10px;
  color: yellow;
  /*background-color: lightblue;*/
}

